<center><h1>Working with Lists - کار کردن با لیست ها</h1></center>

## Looping Through an Entire List - حلقه زدن یا پیمایش روی لیست

Let's say we have a list of names and we want to print all names in the list. We can achieve this goal via looping/iterating through the list. Here's how it works:

<div dir=rtl>
فرض کنید لیستی از اسم ها داریم و میخواهیم هر میخواهیم هر اسم در لیست را مجزا چاپ کنیم. میتوانیم این کار را با حلقه زدن روی کل لیست انجام دهیم
</div>

In [1]:
names = ["ali", "hossein", "mohammad", "jafar", "morteza"]
print(f"List of names: {names}")
print(f"This list has {len(names)} elements in it.")

List of names: ['ali', 'hossein', 'mohammad', 'jafar', 'morteza']
This list has 5 elements in it.

In [2]:
for name in names:
    print(name)

ali
hossein
mohammad
jafar
morteza

The `for` loop is the solution here. It works like this:
<div dir=rtl>حلقه for راه حل ماست. نحوه استفاده از آن:</div>

```python
for VARIABLE in ITERABLE:
    pass
```

In each iteration or run of the `for` loop, Python it assigns one element from ITERABLE to VARIABLE in order
<div dir=rtl>در هر تکرار از حلقه for، پایتون مقادیر داخل ITERABLE را به ترتیب به VARIABLE تخصیص میدهد</div>
<br>
`ITERABLE` can be any data type that is iterable. There are some known data types that are iterable: Lists, Tuples, Sets, Dictionaries, range, ...
<div dir=rtl>متغیر ITERABLE میتواند از هر نوع داده ای باشد به شرطی که آن نوع داده iterable باشد. برای مثال: لیست ها، تاپل ها، ست ها یا همان                                                 مجموعه ها، دیکشنری ها و رنج ها.</div>

<br>
Here's another example: <div dir=rtl>یک مثال:</div>

In [3]:
for name in names:
    print(f"Hello {name.title()}. How are you?")

Hello Ali. How are you?
Hello Hossein. How are you?
Hello Mohammad. How are you?
Hello Jafar. How are you?
Hello Morteza. How are you?

***Notice***: `title()` method will return a string with each word of the string being capitalized. Here's an example that will help us understand it better:
<div dir=rtl>نکته: متد title() یک رشته بصورتی حرف اول هر کلمه بزرگ شده باشد برمیگرداند</div>

In [4]:
for name in names:
    print(name)
    print(name.title())

ali
Ali
hossein
Hossein
mohammad
Mohammad
jafar
Jafar
morteza
Morteza

***Notice***: Anything outside of a `for` loop (that doesn't have indentation) won't be repeated like the codes that are in the `for` loop block. Here's an exmaple:

<div dir=rtl>نکته: هر قطعه کدی خارج از دندانه گذاری به سمت داخل حلقه for دیگر تکرار نخواهد شد!. یک مثال:</div>

In [5]:
print("Hello everybody!\n")


for name in names:
    print(f"Hello {name.title()}. Welcome!")


print("\nWelcome everybody")

Hello everybody!

Hello Ali. Welcome!
Hello Hossein. Welcome!
Hello Mohammad. Welcome!
Hello Jafar. Welcome!
Hello Morteza. Welcome!

Welcome everybody

A backslash n (`\n`) just simply inserts a new line when it's called. Here's an example:
<div dir=rtl>بک اسلش ان یک خط جدید اضافه میکند در همانجایی که استفاده شده. یک مثال:</div>

In [6]:
print("No backslash n is used!")
print("Line 2")


print("Backslash ns are used!\n\n\n")
print("Line 2")

No backslash n is used!
Line 2
Backslash ns are used!



Line 2

## An Intro to `range` Function - مقدمه ای بر تابع رنج

### `range` in Python

**What it is**
- A built-in Python feature for representing a sequence of integers
- Calling `range` creates a **`range` object**, not a list!

**Object type**
- `range` has its own dedicated object type
- It is not a list, tuple, or iterator!

**How it works**
- Stores only three values: start, stop, step
- Numbers are produced **only when needed**
- No memory is wasted storing all values

**Behavior**
- Immutable. It cannot be changed after creation
- Iterable. You can loop over it
- Indexable. You can access elements by position
- Sliceable. You can take sub-ranges
- Supports length checks and membership tests

**Why it matters**
- Extremely memory-efficient
- Fast and scalable for large numeric sequences
- Ideal for loops and controlled iteration


`range` takes at least one argument. Here are different cases:
1. If you pass it one single argument: `end`, it will return a range which starts from **0** and goes all the way up to **end-1** with step being set to **1** (**one by one**)
2. If you pass it two arguments: `start`, `end`, it will return a range which starts from **start** and goes all the way up to **end-1** with step being set to **1** (**one by one**)
3. If you pass it three arguments: `start`, `end` and `step`, it will return a range which starts from **start** and goes all the way up to **end-1** with step being set to **step**


<div dir="rtl" style="text-align: right;">
<h3><code>range</code> در پایتون</h3>


<p><strong>range چیست؟</strong></p>
<ul>
  <li>یک قابلیت داخلی پایتون برای نمایش دنباله‌ای از اعداد صحیح</li>
  <li>فراخوانی <code>range</code> یک <strong>شیء <code>range</code></strong> ایجاد می‌کند، نه یک لیست!</li>
</ul>

<p><strong>نوع شیء range</strong></p>
<ul>
  <li><code>range</code> نوع شیء اختصاصی خود را دارد</li>
  <li>این یک لیست، تاپل یا تکرارگر نیست!</li>
</ul>

<p><strong>نحوه عملکرد range</strong></p>
<ul>
  <li>فقط سه مقدار را ذخیره می‌کند: شروع، پایان، گام</li>
  <li>اعداد <strong>فقط زمانی که لازم باشند</strong> تولید می‌شوند</li>
  <li>هیچ حافظه‌ای برای ذخیره همه مقادیر هدر نمی‌رود</li>
</ul>

<p><strong>رفتار range</strong></p>
<ul>
  <li>تغییرناپذیر. پس از ایجاد قابل تغییر نیست</li>
  <li>تکرارپذیر. می‌توانید روی آن حلقه بزنید</li>
  <li>اندیس‌پذیر. می‌توانید عناصر را بر اساس موقعیت دسترسی کنید</li>
  <li>قابل برش. می‌توانید زیربازه‌ها را بگیرید</li>
  <li>از بررسی طول و آزمون عضویت پشتیبانی می‌کند</li>
</ul>

<p><strong>اهمیت range</strong></p>
<ul>
  <li>بسیار بهینه از نظر حافظه</li>
  <li>سریع و مقیاس‌پذیر برای دنباله‌های عددی بزرگ</li>
  <li>ایده‌آل برای حلقه‌ها و تکرار کنترل‌شده</li>
</ul>

<p><code>range</code> حداقل یک آرگومان می‌گیرد:</p>
<ol>
  <li>یک آرگومان: <code>range(end)</code> → از <strong>0</strong> تا <strong>end-1</strong> با گام <strong>1</strong></li>
  <li>دو آرگومان: <code>range(start, end)</code> → از <strong>start</strong> تا <strong>end-1</strong> با گام <strong>1</strong></li>
  <li>سه آرگومان: <code>range(start, end, step)</code> → از <strong>start</strong> تا <strong>end-1</strong> با گام <strong>step</strong></li>
</ol>

<p><strong>نمونه‌های range:</strong></p>
<ul>
  <li><code>range(5)</code> → 0, 1, 2, 3, 4</li>
  <li><code>range(2, 8)</code> → 2, 3, 4, 5, 6, 7</li>
  <li><code>range(1, 10, 2)</code> → 1, 3, 5, 7, 9</li>
</ul>
</div>


Here are some exmaples:

### Creating ranges - ساختن رنج ها

In [7]:
just_end = range(10)
print(just_end)

range(0, 10)

In [8]:
print(list(just_end))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
start_end = range(1, 11)
print(start_end)

range(1, 11)

In [10]:
print(list(start_end))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
step_range = range(0, 100+1, 5)
print(step_range)

range(0, 101, 5)

In [12]:
print(list(step_range))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

### Looping through ranges - حلقه زدن روی رنج ها

In [13]:
my_range = range(1, 11)

for number in my_range:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [14]:
# It's easier to do it in-place

print("Even numbers between 0 and 100:\n")

for num in range(0, 101, 2):
    print(num, end=", ")

Even numbers between 0 and 100:

0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100,

`end` argument in `print` function let's us decide what should be printed after the main `print`'s input (the default is a new line: "\n")
<div dir=rtl>آرگومان end به شما اجازه میدهد تا مشخص کنید که بعد از اتمام کار پرینت، چه چیزی نمایش داده شود. بصورت پیش فرض این مقدار برابر یک فاصله یا اسپیس                                                                                                                                   است.</div>

In [15]:
print("Squares of all numbers from 0 to 10:\n")

for num in range(0, 11):
    print(num ** 2)

Squares of all numbers from 0 to 10:

0
1
4
9
16
25
36
49
64
81
100

#### Doing something n times - تکرار یک کار به تعداد مشخص

In [16]:
n = int(input("Enter a number: "))

Enter a number:  25

In [17]:
a = range(n)
print(list(a))
print(len(list(a)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
25

As you can see, length of `range(n)` (when `n` is 25) is actually 25. So if I just run a `for` loop over this range (`a`), it should run `n` times (25)
<div dir=rtl>همانطور که میتوانید ببینید، طول رنج n وقتی مقدار n برابر 25 است، همان 25 است. پس اگر یک حلقه روی رنج n بزنیم، حلقه ما دقیقا n بار تکرار خواهد                شد.</div>

In [18]:
for i in a:
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

So to run a particular piece of code n times, you can say:
<div dir=rtl>پس برای تکرار دقیقا n بار یک قطعه کد، میتوان از یک حلقه for روی یک رنج از عدد n استفاده کرد:</div>

In [19]:
n = int(input("Enter a number: "))

for i in range(n):
    print(f"Hi {i}")

Enter a number:  5

Hi 0
Hi 1
Hi 2
Hi 3
Hi 4

### A program that takes `n` as input and then gets `n` inputs and adds those inputs to a list, then returns the list
<div dir=rtl><h3>برنامه ای که n را از ورودی گرفته و سپس n عدد دیگر از ورودی میگیرد و آن n عدد را به یک لیست اضافه میکند و در نهایت لیست را چاپ میکند</h3></div>

In [20]:
n = int(input("Enter a number: "))
my_list = []

for i in range(n):
    my_list.append(input(f"Input no. {i+1}: "))

Enter a number:  5
Input no. 1:  1
Input no. 2:  2
Input no. 3:  3
Input no. 4:  4
Input no. 5:  5

In [21]:
print(my_list)

['1', '2', '3', '4', '5']

### A program that takes `n` as input and then gets `n` inputs and adds those inputs to a list, then prints the average of that list (that list contains numbers!)
<div dir=rtl><h3>برنامه ای که n را از ورودی میگیرد و سپس n عدد دیگر را نیز از ورودی میگیرد و آنها را به یک لیست اضافه میکند و سپس مقدار میانگین لیست را                                                                                             چاپ میکند.</h3></div>

In [22]:
n = int(input("Enter a number: "))
numbers = []

for i in range(n):
    numbers.append(int(input(f"Enter number {i+1}: ")))

SUM = 0

for num in numbers:
    SUM += num

print(f"\n\nThe avg. is: {SUM / n}")

Enter a number:  4
Enter number 1:  4
Enter number 2:  3
Enter number 3:  2
Enter number 4:  1

The avg. is: 2.5

## Simple Statistics with a List of Numbers

In [23]:
digits = list(range(0, 10, 1))
print(digits)
print(type(digits))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [24]:
min(digits)

0

In [25]:
max(digits)

9

In [27]:
sum(digits)

45

## List Comprehensions - خلاصه نویسی لیست ها

Let's say we have a piece of code which wants to fill a list, with specific values using a for loop:

<div dir=rtl>فرض کنیم یک قطعه کد داریم که میخواهد به یک لیست مقدار دهی کند با استفاده از حلقه for:</div>

In [29]:
squares = []
for i in range(0, 11, 1):
    squares.append(i ** 2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

We can do the same thing using list comprehensions. Here's an example:
<div dir=rtl>میتوانیم دقیقا همین کار را بطور خلاصه تر انجام دهیم:</div>

In [31]:
squares = [i**2 for i in range(0, 11, 1)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Here we say squares is a list that contains `i**2`s (`i` squares) for every `i` in range of every numbers from 0 to 10)
<div dir=rtl>اینجا ما میگوییم که squares یک لیست هست که محتوی i به توان دو هاست بصورتی که i به ترتیب از 1 تا 10 باشد</div>

We had another code for making up a list of `n` items using user inputs:
<div dir=rtl>کدی که داشتیم برای پر کردن یک لیست با دریافت n مقدار از ورودی:</div>

In [32]:
n = int(input("Enter a number: "))
numbers = []
for i in range(n):
    numbers.append(int(input(f"Enter number {i+1}: ")))
print(numbers)

Enter a number:  3
Enter number 1:  1
Enter number 2:  2
Enter number 3:  3

[1, 2, 3]

Here's a simpler version using List Comprehension:
<div dir=rtl>این یک نسخه کوتاه تر است:</div>

In [33]:
n = int(input("Enter a number: "))

numbers = [int(input(f"Enter number {i+1}: ")) for i in range(n)]
print(numbers)

Enter a number:  3
Enter number 1:  1
Enter number 2:  2
Enter number 3:  3

[1, 2, 3]

Here's an even shorted version (taking `n` in-place as well):
<div dir=rtl>این یک نسخه حتی کوتاه تر:</div>

In [34]:
numbers = [int(input(f"Enter number {i+1}: ")) for i in range(int(input("Enter a number: ")))]

print(numbers)

Enter a number:  4
Enter number 1:  1
Enter number 2:  2
Enter number 3:  3
Enter number 4:  4

[1, 2, 3, 4]

## Looping through slices of a list - حلقه زدن روی قسمتی (قاچی) از یک لیست

We can loop through a slice of a list just likst we do in a list:
<div dir=rtl>حلقه زدن روی قطعه ای از لیست هیچ تفاوتی با حلقه زدن روی کل لیست (از نظر سینتکسی) ندارد. بطور مشابه میتوان گفت:</div>

In [35]:
print(numbers)

[1, 2, 3, 4]

In [36]:
for num in numbers[:3]:
    print(num)

1
2
3

## Python Tuples - تاپل ها در پایتون

- **Ordered**: Elements keep their insertion order.
- **Indexed**: Accessed by zero-based indices from `0` to `n-1` (also supports negative indexing).
- **Immutable**: Elements cannot be changed, added, or removed after creation.
- **Fixed Size**: Length is locked at creation time.
- **Data Types**: Can store values of mixed data types.
- **Duplicates**: Repeated values are permitted.
- **Iterable**: Supports iteration in loops and comprehensions.
- **Memory Efficient**: Lower overhead compared to lists (tuples use less memory and impose fewer runtime costs than lists)
- **Faster Access**: Slightly faster element access than lists.
- **Safe for Constants**: Suitable for read-only or constant data.
- **Sliceable**: Supports slicing operations.
- **Minimal Built-ins**: Fewer methods compared to lists.



<ul dir="rtl" style="text-align: right;">
    <li><strong>مرتب‌شده:</strong> عناصر ترتیب درج خود را حفظ می‌کنند.</li>
    <li><strong>ایندکس‌دار:</strong> از طریق اندیس‌های مبتنی بر صفر از <code>0</code> تا <code>n-1</code> قابل دسترسی هستند (از اندیس‌گذاری منفی نیز پشتیبانی می‌کند).</li>
    <li><strong>تغییرناپذیر:</strong> پس از ایجاد، عناصر قابل تغییر، اضافه یا حذف نیستند.</li>
    <li><strong>اندازه ثابت:</strong> طول در زمان ایجاد قفل می‌شود.</li>
    <li><strong>انواع داده:</strong> می‌تواند مقادیر با انواع داده مختلف را ذخیره کند.</li>
    <li><strong>تکراری‌ها:</strong> مقادیر تکراری مجاز هستند.</li>
    <li><strong>قابل پیمایش:</strong> از تکرار در حلقه‌ها و لیست‌های درک‌شده پشتیبانی می‌کند.</li>
    <li><strong>بهینه از نظر حافظه:</strong> overhead کمتری در مقایسه با لیست‌ها دارد (تاپل‌ها حافظه کمتری مصرف می‌کنند و زمان اجرای کمتری نسبت به لیست‌ها نیاز دارند).</li>
    <li><strong>دسترسی سریع‌تر:</strong> دسترسی به عناصر کمی سریع‌تر از لیست‌ها است.</li>
    <li><strong>ایمن برای ثابت‌ها:</strong> مناسب برای داده‌های read-only یا ثابت.</li>
    <li><strong>قابل برش:</strong> از عملیات برش یا همان اسلایسینگ پشتیبانی می‌کند.</li>
    <li><strong>متدهای داخلی محدودتر:</strong> متدهای کمتری در مقایسه با لیست‌ها دارد.</li>
</ul>

#### Tuples are Ordered - تاپل ها ترتیب دار هستند

In [43]:
a = (1, 2, 3)
b = (2, 1, 3)
print(a, b)
print(type(a), type(b))

(1, 2, 3) (2, 1, 3)
<class 'tuple'> <class 'tuple'>

In [44]:
print(a == b)

False

#### Tuples are Indexed - تاپل ها اندیس گذاری شده / ایندکس شده هستند

In [45]:
names = ("Ali", "Hossein", "Mohammad", "Zahra", "Fateme")
print(f"The first name is {names[0]} and the last name is {names[-1]} and the 2nd last element is {names[-2]}")

The first name is Ali and the last name is Fateme and the 2nd last element is Zahra

#### Tuples are Immutable (Unchangeable) - تاپل ها غیر قابل تغییر هستند

Because of the fact that tuples are immutable in Python, when you try to alter them in-place, you will get error:
<div dir=rtl>چون که تاپل ها تغییر ناپذیرند، وقتی تلاش میکنید تا آنها را در محل تغییر دهید، با ارور مواجه خواهید شد:</div>

In [46]:
print(names)

('Ali', 'Hossein', 'Mohammad', 'Zahra', 'Fateme')

In [47]:
names[0] = "Nazanin"

TypeError: 'tuple' object does not support item assignment

In [48]:
del names[0]

TypeError: 'tuple' object doesn't support item deletion

In [49]:
names.append("Nazanin")

AttributeError: 'tuple' object has no attribute 'append'

In [50]:
names + ("Nazanin",)

('Ali', 'Hossein', 'Mohammad', 'Zahra', 'Fateme', 'Nazanin')

In [51]:
names2 = names + ("Nazanin",)
print(names)
print(names2)

('Ali', 'Hossein', 'Mohammad', 'Zahra', 'Fateme')
('Ali', 'Hossein', 'Mohammad', 'Zahra', 'Fateme', 'Nazanin')

**WHY DID CONCATENATING WORK THEN????**
<div dir=rtl><h2>پس چرا به هم چسباندن کار کرد؟؟؟؟؟</h2></div>

As you see the only thing that works is concatenation. The reason why it works is that it doesn't mutate or change the tuple in-place. It creates a whole new tuple. It doesn't add or insert the new value into an existing. So there's nothing wrong with the fact that tuples are immutable. Here's the proof:
<div dir=rtl>همانطور که دیدید، تنها چیزی که کار کرد، به هم چسباندن بود. علت اش هم این است که علامت جمع کردن و به هم چسباندن، تاپل را در محل تغییر نمیدهد، بلکه                                                                                                                                              با استفاده از مقادیر                                                                                                                                                              تاپل اول و مقادیر ثانویه داده شده، یک تاپل کاملا جدید ایجاد میکند و مقادیر خواسته شده را در آنها میریزد.
به عبارت دیگر، عملیات به هم چسباندن، تاپل شما را تغییر نمیدهد، بلکه یک تاپل جدید در مموری ایجاد کرده و آن را به شما تحویل میدهد. اثبات آن هم به این صورت است:</div>

In [52]:
print(id(names))
print(id(names2))
print(names is names2)

139657139897824
139657120833280
False

In [53]:
print(id(names+("Nazanin",)))
print(id(names))
print(names+("Nazanin",) is names)

139657120828768
139657139897824
False

So when you concatenate tuple `names` with tuple `("Nazanin",)`, Python creates a brand new tuple (which is why they have different places in memory), nothing can be changed in-place in tuples!!
<div dir=rtl>پس وقتی تاپل names را با تاپل ثانویه با مقدار نازنین به هم میچسبانیم، پایتون یک تاپل کاملا جدید در مموری میسازد (به همین دلیل است که مکان آنها                                                                                                                            در مموری متفاوت است) و سپس به شما                                                                                                                                                          برمیگرداند. هیچ تاپل ای در پایتون نمیتواند در محل تغییر کند!</div>

#### Tuples Allow Mixed Data Types - پایتون انواع داده های مختلف در یک تاپل را پشتیبانی میکند

In [54]:
my_tupple = ("String!", 22.0, 22.5, 5, True, False, None, 2>3, ["item1", "item2"], ("item1", "item2"))
print(my_tupple)
print(type(my_tupple))

('String!', 22.0, 22.5, 5, True, False, None, False, ['item1', 'item2'], ('item1', 'item2'))
<class 'tuple'>

#### Tuples Allow Duplicates - مقادیر تکراری در تاپل ها مجاز هستند

In [55]:
duplicate_tupple = ("item 1", "item 1", 2, 2, 5, 7)
print(duplicate_tupple)

('item 1', 'item 1', 2, 2, 5, 7)

#### Tuples are Iterable - تاپل ها قابل پیمایش و تکرار هستند

As we've said earlier, Python's `for` loop allows us to iterate through any iterable object. So we should be able to iterate through tuples as well:
<div dir=rtl>همانطور که قبلا گفتیم، حلقه for در پایتون به ما امکان حلقه زدن روی هر نوع داده ی iterable ای را میدهد. از آنجایی که تاپل ها هم iterable هستند. پس          باید بتوان روی آنها حلقه for زد:</div>

In [57]:
for name in names2:
    print(f"Hello dear, {name.title()}!")

Hello dear, Ali!
Hello dear, Hossein!
Hello dear, Mohammad!
Hello dear, Zahra!
Hello dear, Fateme!
Hello dear, Nazanin!

In [58]:
for i in range(len(names2)):
    print(f"Hello dear, {names2[i].title()}!")

Hello dear, Ali!
Hello dear, Hossein!
Hello dear, Mohammad!
Hello dear, Zahra!
Hello dear, Fateme!
Hello dear, Nazanin!

#### Tuples are Slicable - تاپل ها قابل تقسیم و اسلایس پذیر هستند

In [59]:
print(names[:3])

('Ali', 'Hossein', 'Mohammad')

In [60]:
for name in names2[:4]:
    print(name)

Ali
Hossein
Mohammad
Zahra

#### Tuples Have Less Methods Compared to Lists - تاپل ها متد های کمتری نسبت به لیست ها دارند

In [61]:
names2.append("Mohammad Ali")

AttributeError: 'tuple' object has no attribute 'append'

In [62]:
names2.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [63]:
names2.remove("Nazanin")

AttributeError: 'tuple' object has no attribute 'remove'

In [64]:
names2.count("Nazanin")

1

In [67]:
names2.index("Hossein")

1

In [68]:
names2.index("Ali")

0

In [69]:
names2.index("Fateme")

4

## Examples - مثال ها

### 1. Product of `n` numbers (`n` and all `n` numbers should be taken from input)
<div dir=rtl><h3>1. حاصل ضرب n عدد که از ورودی گرفته شده اند</h3></div>

#### Solution 1  - *O(2n)*

In [1]:
n = int(input("Enter n: "))

numbers = [int(input(f"Enter number {i+1}: ")) for i in range(n)]

product = 1

for number in numbers:
    product *= number

print(product)

Enter n:  3
Enter number 1:  5
Enter number 2:  4
Enter number 3:  3

60

#### Solution 2 - *O(n)*

In [2]:
n = int(input("Enter n: "))

product = 1

for i in range(n):
    product *= int(input(f"Enter number {i+1}: "))

print(product)

Enter n:  3
Enter number 1:  5
Enter number 2:  4
Enter number 3:  3

60

### 2. Take a full list from input (with `n` elements) print it in reverse order (`reverse()` can't be used)
<div dir=rtl><h3>2. یک لیست با n عضو را کامل از ورود بگیرد و سپس آن را برعکس چاپ کنید (بدون استفاده از تابع ()reverse</h3></div>

#### Solution 1 - *O(2n)* - Negative Indexing - ایندکسینگ منفی

In [4]:
n = int(input("Enter n: "))

items = [input(f"Enter item no. {i+1}") for i in range(n)]

for i in range(-1, (-n-1), -1):
    print(items[i])

Enter n:  5
Enter item no. 1 1
Enter item no. 2 2
Enter item no. 3 3
Enter item no. 4 4
Enter item no. 5 5

5
4
3
2
1

#### Solution 2 - *O(2n)* - Positive Indexing - ایندکسینگ مثبت

In [5]:
n = int(input("Enter n: "))

items = [input(f"Enter item no. {i+1}") for i in range(n)]

for i in range(n-1, -1, -1):
    print(items[i])

Enter n:  5
Enter item no. 1 1
Enter item no. 2 2
Enter item no. 3 3
Enter item no. 4 4
Enter item no. 5 5

5
4
3
2
1

### 3. Take two full lists from input (both with `n` elements) then print them side by side
<div dir=rtl><h3>3. دو لیست با n عضو را کامل از ورودی بگیرید و سپس آنها را کنار هم چاپ کنید</h3></div>

In [8]:
n = int(input("Enter n: "))

list1 = [input(f"List 1 => Enter item {i+1}: ") for i in range(n)]
list2 = [input(f"List 2 => Enter item {i+1}: ") for i in range(n)]

for j in range(n):
    print(f"{list1[j]} | {list2[j]}")

Enter n:  3
List 1 => Enter item 1:  1
List 1 => Enter item 2:  3
List 1 => Enter item 3:  5
List 2 => Enter item 1:  2
List 2 => Enter item 2:  4
List 2 => Enter item 3:  6

1 | 2
3 | 4
5 | 6

### 4. Take a full list from input (with `n` elements) then print a list which contains sum of each element with previous elements
<div dir=rtl><h3>یک لیست با n عضو را کامل از ورودی بگیرید و سپس یک لیست چاپ کنید بطوری که هر عضو آن، حاصل جمع عناصر قبلی آن با خودش است</h3></div>

Example:

Input: [1, 2, 3, 4]
<br><br>
Output: [1, 3, 6, 10]
<br><br>
Explanation:<br>
`Output[0] = 1`<br>
`Output[1] = 1 + 2`<br>
`Output[2] = 1 + 2 + 3`<br>
`Output[3] = 1 + 2 + 3 + 4`

In [10]:
n = int(input("Enter n: "))

numbers = [int(input(f"Enter item no. {i+1}")) for i in range(n)]

total = 0
step_sum = []
for num in numbers:
    total += num
    step_sum.append(total)

print(step_sum)

Enter n:  4
Enter item no. 1 1
Enter item no. 2 2
Enter item no. 3 3
Enter item no. 4 4

[1, 3, 6, 10]

Let's say we want to do the 2nd `for loop in a single line as well. There's a problem:
<div dir=rtl>میخواهیم حلقه دوم را با یک for لوپ انجام دهیم. اما مشکلی پیش می آید:</div>

In [11]:
n = int(input("Enter n: "))

numbers = [int(input(f"Enter item no. {i+1}")) for i in range(n)]

step_sum = [(total=total+num) for num in numbers]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4270396959.py, line 5)

The problem is that the equal sign, doesn't return anything. We need to do two things:
1. Update `total` with adding num to it
2. Returning `total` itself

A traditional `=` can't return value of `total` as well. So here we can use **walrus operator** (`:=`)


<div dir="rtl" style="text-align: right;">
    <p>مشکل این است که علامت مساوی چیزی برنمی‌گرداند. در حالی که ما باید دو کار انجام دهیم:</p>
    <ol>
        <li>به‌روزرسانی <code>total</code> با اضافه کردن <code>num</code> به آن</li>
        <li>برگرداندن خود <code>total</code></li>
    </ol>
    <p>یک علامت <code>=</code> ساده نمی‌تواند مقدار <code>total</code> را نیز برگرداند. بنابراین در اینجا می‌توانیم از <strong>عملگر والروس</strong> (<code>:=</code>) استفاده کنیم.</p>
</div>

In [14]:
n = int(input("Enter n: "))

numbers = [int(input(f"Enter item no. {i+1}: ")) for i in range(n)]

total = 0

step_sum = [(total:=total+num) for num in numbers]
print(step_sum)

Enter n:  4
Enter item no. 1:  1
Enter item no. 2:  2
Enter item no. 3:  3
Enter item no. 4:  4

[1, 3, 6, 10]

The problem is fixed because the **walrus operator** returns the value of `total` after updating its value!
<div dir=rtl>مشکل حل شد چون عملگر والروس مقدار خود total را نیز بعد از به روز کردن آن بر میگرداند</div>