# Session 1 - Introduction

## First Code

In [2]:
print("Hello Alkharazmi")

Hello Alkharazmi

## Data Types

### Integers - `int`

In [2]:
a = 10
b = 20
c = a + b
print(a)
print(b)
print(c)

10
20
30

### Floating Points Numbers - `float`

In [3]:
a = 1.5
b = 2.5
c = a + b
print(a)
print(b)
print(c)

1.5
2.5
4.0

### Strings - `str`

In [4]:
first_name = "Mohammad Hossein"
last_name = "Miri"
print(first_name)
print(last_name)

Mohammad Hossein
Miri

### Booleans - `bool`

In [5]:
a = True
b = False
print(a)
print(b)

True
False

### Checking the Type of a Variable

In [20]:
a = 32
b = 32.5
c = "Hello there!"

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

## Casting (Type Conversion)

In [21]:
a = "10"
b = "3"
a * b

TypeError: can't multiply sequence by non-int of type 'str'

We need to convert both `a` and `b` into integer data type so we can multiply them

In [22]:
a = int(a)
b = int(b)
a * b

30

### Casting Functions

- `int()`
- `float()`
- `str()`
...

## Variables Naming Rules

##### There are several specific rules that programmers should follow:

1. A variable name should start with either alphabetic characters (a-z or A-Z) or underscores (_)
2. A variable name can only contain alphabetic characters (a-z or A-Z) or numerical digits (0-9) or underscores (_)
3. A variable name shouldn't be the same as a reserved python keyword (e.g. if, for, while, print and etc.)

*Notice*: Variable names are case sensitive. Therefore `a` is considered different than `A` and they are two separate variables

## Operators in Python

### Comparison Operators

* Is a equal to b? (a == b)

* Is a not equal to b? (a != b)

* Is a *strictly* greater than b? (a > b)

* Is a greater than or equal to b? (a >= b)

* Is a *strictly* less than b? (a < b)

* Is a less than or equal to b? (a <= b)

In [7]:
a = (2==2)
b = (5/2 > 2.3)
c = (2**9 > 3**8)

print(a)
print(b)
print(c)

True
True
False

### Arithmetic Operators

* Addition -> **x + y**
* Subtraction -> **x - y**
* Multiplication -> **x * y**
* Division -> **x / y**
* Modules (remainder of division) -> **x % y**
* Exponentiation (x to the power of y) -> **x ** y**
* Floor division (Integer division) -> **x // y**

In [8]:
2 + 3

5

In [9]:
2 - 3

-1

In [10]:
2 * 3

6

In [11]:
2 / 3

0.6666666666666666

In [12]:
2 % 3

2

In [13]:
2 ** 3

8

In [14]:
2 // 3

0

### Assignment Operators

In [15]:
a = 10
a

10

In [16]:
a += 5 # a = a + 5
a

15

In [17]:
a -= 5 # a = a - 5
a

10

In [18]:
a *= 3 # a = a * 3
a

30

In [19]:
a /= 3 # a = a / 3
a

10.0

Other arithmetic operators (such as //, **, %) can be combined by equal sign, similarly

### Logical Operators

* `a and b` - Returns `True` if both statements `a` and `b` are `True`
* `a or b` - Returns `True` if at least one of the statements `a` or `b` are `True`
* `not a` - Reverses the boolean value of `a`

## Examples

### Celsius => Fahrenheit Converter

In [28]:
c = input("Enter a temperature value in celsius degree:")
c = float(c)

# Could do the same thing in one line: c = float(input("..."))

f = 9/5 * c + 32

print("Celsius:", c)
print("Fahrenheit:", f)

Celsius: 9.0
Fahrenheit: 48.2